html {
  height: 100%;
  background-image: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0)), url('/src/assets/huecleaner.jpeg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

#root {  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hue {
  background: -webkit-linear-gradient(left, red , yellow, green, blue);
  background: -o-linear-gradient(right, red , yellow, green, blue);
  background: -moz-linear-gradient(right, red , yellow, green, blue);
  background: linear-gradient(to right, red , yellow, green, blue); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hue-ip {
  width: 9rem;
}

#check-connection:disabled {
  cursor: wait;
  opacity: 0.7;
}

.is-valid-flag {
  position: absolute;
  margin: 0.5rem 0 0 -2rem;
  pointer-events: none;
}

button {
  display: block;
  margin: 1rem auto;
}

details {
  margin-top: 2rem;
  font-size: 1rem;
}

footer {
  margin-top: 2rem;
  font-size: 10px;
}