#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  max-width: 25vw;
  border: 1px solid black;
}

.hue {
  background: -webkit-linear-gradient(left, red , yellow, green, blue);
  background: -o-linear-gradient(right, red , yellow, green, blue);
  background: -moz-linear-gradient(right, red , yellow, green, blue);
  background: linear-gradient(to right, red , yellow, green, blue); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hue-ip {
  width: 9rem;
}

.is-valid-flag {
  position: absolute;
  margin: 0.5rem 0 0 -2rem;
  pointer-events: none;
}

details {
  margin-top: 2rem;
  font-size: 1rem;
}

footer {
  margin-top: 2rem;
  font-size: 10px;
}